
    nav {
      margin-top: 100px;
        background-color: aqua;
        height: 40px;
        width: 1249px;
        text-align: right;
        margin: auto;
        display: block;
        border-radius: 10px;
    }

    a {
      padding: 10px 15px;
      text-decoration: none;
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 16px;
      display: inline-block;
      font-weight: bold;
    }

    .judul {
      margin-left: 50px;
      font-size: 20px;
      font-style: italic;
      font-family: 'Poppins', sans-serif;
      line-height: 1.5rem;
      text-decoration: underline;
    }
    .hero {
      height: 100vh; /* hanya bagian awal yang full layar */
      background: url('Gambar/kamvak.jpg') no-repeat center center/cover;
      position: relative;
}

.halaman-2{
  background-color: lightgray;
  height: 220px;
  width: 1000px;
  text-align: center;
  margin-left: 135px;
}

body{
  background-color: lightskyblue;
}