body{
  min-height: 100vh;
  background: linear-gradient(to bottom, #4cc9e3 0%, #ffffff 100%);
}

/* navbar */
nav{
  background-color: #005fa3;
  display: flex;
  justify-content: space-between; /*agar menu berada di kanan*/
  text-align: center;
  gap: 2rem;
  padding: 1rem 2rem;
  height: 35px;
}

nav ul li a{
  font-family: 'Segoe UI', sans-serif;
  color: #191919;
  text-decoration: none;
  font-weight: bold;
}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;  /*biar titik li ilang */
  gap: 1rem; /*memberi jarak antar menunya */
}

a:hover{
    border-bottom: 1px solid black;
    color: blue;
}

*,html,body{
    padding: 0;
    margin: 0;
}

footer {
  margin-top: 30px;
  background: linear-gradient(to right, rgb(55, 124, 167), rgb(26, 37, 194));
  color: white;
  padding: 40px 0 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;/*Memberi jarak seimbang antar kolom footer.*/
  flex-wrap: wrap; /*Kalau layar kecil, kolom akan turun ke bawah otomatis (responsive).*/
  max-width: 1100px;
  margin: auto;
}

.footer-content {
  width: 250px;
  margin-bottom: 20px;
}

.footer-content h3 {
  margin-bottom: 15px; /*Jarak antara judul dan isi kolom.*/
  font-size: 18px;
  border-bottom: 2px solid #ffb400; /*Garis Bawah kuning di judul*/
  display: inline-block;
  padding-bottom: 5px;
}

.footer-content p,
.footer-content li,
.footer-content a {
  font-size: 14px;
  color: #ccc;
  text-decoration: none; /*Menghapus Garis bawah teks*/
  line-height: 1.8; /*Memberi jarak vertikal antar baris teks.*/
}

.footer-content a:hover {
  color: #ffb400;
  transition: 0.3s;
}

.footer-content ul {
  list-style: none; /*ngehapus titik di depan list li*/
  padding: 0; /*ngehapus jarak bawaan dari ul*/
}

.footer-content li {
  margin-bottom: 8px; /*Jarak antar item list biar tidak rapat*/
}

/* Bagian icon sosial media */
.footer-content i {
  font-size: 20px;
  margin-right: 10px; /*Jarak antar ikon*/
  color: #ccc;
}

.footer-content i:hover {
  color: #ffb400;
  transition: 0.3s;
}

/* Bar bawah */
.copyright {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #444; /*Garis pembatas antara isi footer dan bagian bawah.*/
  font-size: 13px;
  color: #aaa;
}

.copyright p {
  margin: 0;
}