*,html,body{
    margin: 0;
    padding: 0;
}

body{
  min-height: 100vh;
  background: linear-gradient(to bottom, #4cc9e3 0%, #ffffff 100%);
}

.form-container {
  width: 420px;
  margin: auto;
  background: #fff;
  padding: 20px 50px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  background: rgba(83, 147, 158, 0.6);
  box-shadow: 5px 5px lightblue;
}

.form-item {
  margin-bottom: 15px;
}

label {
  display: block; /*elemen label tampil di baris baru sendiri */
  margin-bottom: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 13px;
}

input{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

select{
  width: 104%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 40px;
}

.header-form {
  display: flex;                /* Biar sejajar horizontal */
  justify-content: center;
  align-items: center;          /* Sejajarkan gambar & teks secara vertikal */
  gap: 5px;                    /* Jarak antara gambar dan teks */
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 2rem;
}

.btn-kirim{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: #3399ff;
    width: 40%;
    height: 30px;
    border-radius: 5px;
}

.btn-unduh{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: darkgrey;
    width: 40%;
    height: 30px;
    border-radius: 5px;
}

.btn-kirim:hover, .btn-unduh:hover{
    background-color: red;
    transform: scale(1.05);
}
